**Python code to create a new SQLite database and load the tables**

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
#importing data
data_specifications = pd.read_excel('question_1_2.xlsx', sheet_name = "Specifications", header=0, skiprows = [0] )
data_production_sequence = pd.read_excel('question_1_2.xlsx', sheet_name = "Production_Sequence", header=0, skiprows = [0] )
data_measurements = pd.read_excel('question_1_2.xlsx', sheet_name = "Measurements", header=0, skiprows = [0] )

In [17]:
#Checking missing values in all the tables
print(data_specifications.isnull().sum())
print(data_production_sequence.isnull().sum())
print(data_measurements.isnull().sum())

Product_Code    0
T_Name          0
LSL             0
USL             0
Target          0
dtype: int64
Order_ID          0
_Date             0
Product_Family    0
Variant           0
dtype: int64
Lot_No          0
Unit_No         0
Product_Code    0
T_Height        0
T_Weight        0
dtype: int64

In [ ]:
#Removing the spaces from column names
data_specifications.columns = data_specifications.columns.str.replace(' ', '_')
data_production_sequence.columns = data_production_sequence.columns.str.replace(' ', '_')
data_measurements.columns = data_measurements.columns.str.replace(' ', '_')

In [ ]:
#Creating a connection to a SQLite database
connection = sqlite3.connect('database.db')

In [ ]:
#Converting dataframes into SQLite database tables
data_specifications.to_sql('specifications_table', connection,if_exists='replace',index=False)
data_production_sequence.to_sql('production_sequence_table', connection,if_exists='replace',index=False)
data_measurements.to_sql('measurements_table', connection,if_exists='replace',index=False)